.tourist-attractions-form {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 18px;
}

.tourist-attractions-inputs-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 18px;
}

.tourist-attractions-image-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 288px;
  height: 212px;
}

.tourist-attractions-image-label {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  line-height: 24px;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.15px;
  width: 100%;
  height: 100%;
  color: $gray-300;
}

.tourist-attractions-input-image {
  display: none;
}

.tourist-attractions-info-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 212px;
  gap: 16px;
}

.tourist-attractions-input-title {
  width: 328px;
}
  
.tourist-attractions-textarea-description {
  width: 418px;
  resize: none;
}

@media (max-width: 1000px) {
  .tourist-attractions-input-title,
  .tourist-attractions-textarea-description {
    width: 100%;
  }
}

.tourist-attractions-image-wrapper,
.tourist-attractions-input-title,
.tourist-attractions-textarea-description {
  padding: 16px;
  border-radius: 8px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  border: 2px solid $gray-100;
}

.tourist-attractions-button {
  box-sizing: border-box;
  padding: 16px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: $white;
  background: $red;
  border: 1px solid $red;
}

@media (max-width: 1000px) {
  .tourist-attractions-info-wrapper {
    width: 100%;
  }
  .tourist-attractions-button {
    width: 100%;
  }
}