.tourist-attractions-results-section {
  padding: 60px 132px 192px;
}

.tourist-attractions-results-title {
  font-weight: 700;
  font-size: 32px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 32px;
}

.tourist-attractions-results-container {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

@media (max-width: 840px) {
  .tourist-attractions-results-section {
    padding: 32px 16px;
  }
  .tourist-attractions-results-container {
    justify-content: center;
  }
}