.tourist-attractions-section {
  padding: 48px 130px 0;
}

.tourist-attractions-title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 32px;
}

@media (max-width: 840px) {
  .tourist-attractions-section {
    padding: 16px;
  }
}